* {
  box-sizing: border-box;
}
/* ROOT */
:root {
  --gray : #31343d;
  --white : #fff;
  --aqua : #92ccce;
  --navy : #445877;
  --black : #000;
}

/* GENERAL CSS */
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color:var(--white);
  color: var (--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

 /* HEADER */
 .header {
  width: 100%;
  margin: 0 auto;
  padding: 0.2em 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--gray);
  color: var(--white);
}

.header h1 {
  padding: 0% 5% 0% 10%;
  background-color: var(--aqua);
  color:var(--navy);
}

.header .nav ul {
    display: flex;
    list-style: none;
    margin-block-start: 0.3em;
    margin-block-end: 0;
    flex-direction: row;
}

.header .nav ul li  {
    display: inline;
    padding: 0.1em 0.5em;
    margin-right: 1em;
    border-bottom: 0.2em solid var(--aqua);
    background: linear-gradient(var(--gray), var(--gray) 50%, var(--aqua) 50%, var(--aqua));
    background-size: 100% 200%;
    transition: background 500ms;
}
.header .nav ul li:hover  {
  background-position: 100% 100%;
  border-bottom: none;
}
.header .nav li a{
  color: var(--aqua);
  transition: ease-in 100ms;
  font-size: .8em;  
}
.header .nav li:hover a{
  color: var(--gray);
}
.hero-banner {
	background-image: linear-gradient(to bottom, rgba(68, 88, 119, 0.7), rgba(68, 88, 119, 0.8)), url(../../images/02-hero-bg.jpg);
    padding: 3em;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
}

.hero-banner div h2 {
  background-color: var(--aqua);
  color:var(--navy);
  padding:.2em;
}

/* CONTENT */
#row {
  flex-direction: row;
}

#column {
  flex-direction: column;
}

.page-wrapper {
  display: flex;
  padding: 10px;
  margin: 10px;
}

.page-section {
  display: flex;
  flex-direction: row;
}

.page-section .headerh2 {
  border-right: 2px solid var(--navy);
  width: 25%;
  color: var(--navy);
  margin-bottom: 2em;
  font-size: 3em;
}

.page-section .content {
  width: 74%;
  color: var(--navy);
  margin-bottom: 2em;
  padding: 0 20px;
}

#myworks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
      "surfreport surfreport"
      "ledwall calculator"
      "pastelpuzzels runbuddy";
}
.works {
  display: grid;
  align-content: end;
  margin: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height:175px;
}

#surfreport {
  grid-area: surfreport;
  background-image:linear-gradient(to bottom, rgba(68, 88, 119, 0.7), rgba(68, 88, 119, 0.8)), url(../../images/02-portfolio-1.jpg);
}
#surfreport:hover {
  background-image:url(../../images/02-portfolio-1.jpg);
}
#ledwall {
  grid-area: ledwall;
  background-image:linear-gradient(to bottom, rgba(68, 88, 119, 0.7), rgba(68, 88, 119, 0.8)), url(../../images/02-portfolio-2.jpg);
}
#ledwall:hover {
  grid-area: ledwall;
  background-image:url(../../images/02-portfolio-2.jpg);
}
#calculator {
  grid-area: calculator;
  background-image:linear-gradient(to bottom, rgba(68, 88, 119, 0.7), rgba(68, 88, 119, 0.8)), url(../../images/02-portfolio-3.jpg);
}
#calculator:hover {
  grid-area: calculator;
  background-image:url(../../images/02-portfolio-3.jpg);
}
#pastelpuzzels {
  grid-area: pastelpuzzels;
  background-image:linear-gradient(to bottom, rgba(68, 88, 119, 0.7), rgba(68, 88, 119, 0.8)), url(../../images/02-portfolio-4.jpg);
}
#pastelpuzzels:hover {
  background-image:url(../../images/02-portfolio-4.jpg);
}
#runbuddy {
  grid-area: runbuddy;
  background-image:linear-gradient(to bottom, rgba(68, 88, 119, 0.7), rgba(68, 88, 119, 0.8)), url(../../images/02-portfolio-3.jpg);
}
#runbuddy:hover {
  background-image:url(../../images/02-portfolio-3.jpg);
}
.works .innercontent {
  background: var(--aqua);
  padding: 5px;
  width: 35%;
}
.works h2, .works p {
  font-size: 22px
}

#myworks div {
    transition: ease-in 1000ms;
}

.contact ul {
  display: flex;
  list-style: none;
  margin-block-start: 0.3em;
  margin-block-end: 0;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact ul li {
  display: inline;
  padding: 0.1em 0.5em;
}